<a href="https://colab.research.google.com/github/kgpark88/data-analysis/blob/main/04_Groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 그룹별로 집계하기 : Groupby

groupby 메서드를 사용하여 데이터 row를 그룹화하고 집계함수를 사용

In [1]:
import numpy as np
import pandas as pd

### 샘플 데이터로  DataFrame 생성

In [2]:
data = { 
    'store': ['A', 'A', 'A', 'B', 'B', 'C', 'C'], 
    'food': ['kimbab', 'rice cake', 'rice cake', 'sundae', 'kimbab', 'kimbab', 'sundae'], 
    'price': [2500, 2500, 2500, 5000, 4000, 3000, 3000], 
    'quantity': [100, 200, 150, 250, 60, 80, 105] }

In [3]:
df = pd.DataFrame(data)
df

  store       food  price  quantity
0     A     kimbab   2500       100
1     A  rice cake   2500       200
2     A  rice cake   2500       150
3     B     sundae   5000       250
4     B     kimbab   4000        60
5     C     kimbab   3000        80
6     C     sundae   3000       105

### store 별로 가격(price) 평균 구하기

In [4]:
df.groupby('store').mean()

        price  quantity
store
A      2500.0     150.0
B      4500.0     155.0
C      3000.0      92.5

In [5]:
df.groupby(['store', 'food']).mean()

                 price  quantity
store food
A     kimbab      2500       100
      rice cake   2500       175
B     kimbab      4000        60
      sundae      5000       250
C     kimbab      3000        80
      sundae      3000       105

### Aggregation
- agg()를 사용해서 그룹별로 결과를 구함

In [6]:
df.groupby('store').agg(np.mean)

        price  quantity
store
A      2500.0     150.0
B      4500.0     155.0
C      3000.0      92.5

In [7]:
df.groupby('store').mean()

        price  quantity
store
A      2500.0     150.0
B      4500.0     155.0
C      3000.0      92.5

-----
## Aggregate 함수

<table><td><tt
><span
>count</span></tt></td><td>Number of non-null observations</td></tr><tr
><td><tt
><span
>sum</span></tt></td><td>Sum of values</td></tr><tr
><td><tt
><span
>mean</span></tt></td><td>Mean of values</td></tr><tr
><td><tt
><span
>mad</span></tt></td><td>Mean absolute deviation</td></tr><tr
><td><tt
><span
>median</span></tt></td><td>Arithmetic median of values</td></tr><tr
><td><tt
><span
>min</span></tt></td><td>Minimum</td></tr><tr
><td><tt
><span
>max</span></tt></td><td>Maximum</td></tr><tr
><td><tt
><span
>mode</span></tt></td><td>Mode</td></tr><tr
><td><tt
><span
>abs</span></tt></td><td>Absolute Value</td></tr><tr
><td><tt
><span
>prod</span></tt></td><td>Product of values</td></tr><tr
><td><tt
><span
>std</span></tt></td><td>Unbiased standard deviation</td></tr><tr
><td><tt
><span
>var</span></tt></td><td>Unbiased variance</td></tr><tr
><td><tt
><span
>sem</span></tt></td><td>Unbiased standard error of the mean</td></tr><tr
><td><tt
><span
>skew</span></tt></td><td>Unbiased skewness (3rd moment)</td></tr><tr
><td><tt
><span
>kurt</span></tt></td><td>Unbiased kurtosis (4th moment)</td></tr><tr
><td><tt
><span
>quantile</span></tt></td><td>Sample quantile (value at %)</td></tr><tr
><td><tt
><span
>cumsum</span></tt></td><td>Cumulative sum</td></tr><tr
><td><tt
><span
>cumprod</span></tt></td><td>Cumulative product</td></tr><tr
><td><tt
><span
>cummax</span></tt></td><td>Cumulative maximum</td></tr><tr
><td><tt
><span
>cummin</span></tt></td><td>Cumulative minimum</td></tr></tbody></table>